<%# unless flash[:error_texts].empty? %>

	<!-- <p> Errors are reported </p> -->
	<%# flash[:error_texts].each do | msg | %>
		<!-- <p> <%#= msg %> <p> -->
	<%# end %>		
<%# flash[:error_texts] = [] %>
<%# end %>